/*
- BEM Naming

The designs were created to the following widths:
- Mobile: 375px
- Desktop: 1440px

## Colors
- Very Dark Gray: hsl(0, 0%, 17%)
- Dark Gray: hsl(0, 0%, 59%)

### Body Copy
- Font size (text input): 18px

### Font
- Family: [Rubik](https://fonts.google.com/specimen/Rubik)
- Weights: 400, 500, 700
*/

body {
  background-image: url("./images/pattern-bg.png");
  background-repeat: no-repeat;
}

h2 {
  color: white;
}

h6 {
  color: hsl(0, 0%, 59%);
}

input {
  border-radius: 5px;
  height: 30px;
  width: 400px;
}

.App {
  text-align: center;
}
