/*
##
- BEM Naming
- Alphabetical CSS properties

## The designs were created to the following widths:
- Mobile: 375px
- Desktop: 1440px

## Colors
- Very Dark Gray: hsl(0, 0%, 17%)
- Dark Gray: hsl(0, 0%, 59%)
*/

* {
  font-family: 'Rubik', sans-serif;
}

body {
  background-image: url("./images/pattern-bg.png");
  background-repeat: no-repeat;
  font-size: 18px;
}

h2 {
  color: white;
}

h6 {
  color: hsl(0, 0%, 59%);
}

.App {
  text-align: center;
}

.arrow {
  border: solid white;
  border-radius: 1px;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.ip__information {
  background-color: white;
  border-radius: 5px;
  height: 90px;
  width: 1000px;
}
